.logo {
  margin: 1rem;
}
ul {
  list-style: none;
}
.ListItem {
  display: flex;
  align-items: center;
}
h5 {
  padding-left: 2rem;
}
.logout {
  display: flex;
  align-items: center;
  margin-top: 150%;
  padding-left: 2.5rem;
}
