.logo {
  margin: 1rem;
}
ul {
  list-style: none;
}
.ListItem {
  display: flex;
  align-items: center;
}
h5 {
  padding-left: 2rem;
  font-size: 1vw;
}
.logout {
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 0;
}
span {
  font-size: 0.8vw;
}
@media only screen and (max-width: 900px) {
  .sideBarContainer,
  .ListItem,
  .logout {
    text-align: center;
    margin: auto;
    justify-content: center;
  }
  h5 {
    font-size: large;
  }
  span {
    font-size: 0.8rem;
  }
}
.ListItem:hover {
  background-color: #d1d1cf;
  border-radius: 1rem;
}
