.header {
  display: flex;
  align-items: center;
}
.subTitle {
  display: flex;
  align-items: center;
}
.smallTitle {
  opacity: 0.5;
}
span {
  padding: 5px;
}
.subTitle:hover {
  background-color: #d1d1cf;
  border-radius: 1rem;
}
